<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessSense_Task.Properties.Settings.Task_DB" connectionString="Data Source=.\sqlexpress;Initial Catalog=BusinessSense_Task_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>